


<%= simple_form_for @user do |f| %>
  <h1>Edit Profile</h1>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :old_password %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :avatar %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
