
<div class="sign-up">
  <%= simple_form_for @user do |f| %>
    <h1>Sign Up</h1>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :avatar %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
