<h1>Profile Information</h1>
<div id="profile">
  <% if @user.avatar.file %>
    <%= image_tag @user.avatar.url(:medium) %>
  <% else %>
    <%= image_tag("default_profile_picture.png") %>
  <% end %>
  <div>
    User Name: <%= @user.full_name %>
  </div>
  <div>
    Email: <%= @user.email %>
  </div>
</div>
<div class="update">
  <%= link_to "Update Information", edit_user_path(session[:user_id]), :class => 'btn btn-primary' %>
</div>
