
<% if params.has_key? :search %>
  <h1>Search Result</h1>
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="post">
        <a class="button <%= post.category.title if post.category %>" href="<%= post_path(post) %>">
          <span class="item"><%= post.title %></span>
          <span class="meta category">Author: <%= post.user.first_name if post.user%></span>
          <i class="clock"></i>
          <span class="meta created"><%= post.created_at.strftime("%Y-%b-%d") %></span>
        </a>
      </div>
    <% end %>
  </div>

  <%= paginate @posts, :theme => 'twitter-bootstrap-3' %>
<% else %>
  <div class="jumbotron jumbo-home">
    <h1>Welcome To Blog</h1>
    <p class="Intro">Your amazing story starts here,<br> share it with everyone!</p>
    <% if user_signed_in? %>
      <a href=<%=new_post_path%>  class="btn btn-primary btn-lg home-buttons hvr-bob"><div class= "wordwrap">Write A Story</div></a>
    <% else %>
      <a href=<%=new_user_path%>  class="btn btn-primary btn-lg home-buttons hvr-bob"><div class= "wordwrap">Sign Up</div></a>
    <% end %>
    <a href= "/about" , class="btn btn-primary btn-lg home-buttons hvr-bob"><div class= "wordwrap">Learn More About This Website</div></a>
  </div>
<div class="home-background"></div>
<% end %>
