<% if params.has_key? :search %>
  <h1>Search Result</h1>
  <% @posts.each do |post| %>
    <a class="button <%= post.rand_color %>" href="<%= post_path(post) %>">
      <span class="item"><%= post.title %></span>
      <span class="meta category">Auther: <%= post.user.first_name if post.user%></span>
      <i class="clock"></i>
      <span class="meta created"><%= post.created_at %></span>
    </a>
  <% end %>
  <%= paginate @posts, :theme => 'twitter-bootstrap-3' %>
<% end %>
