<h1>Welcome to Myapp</h1>
<% if @posts %>
  <% @posts.each do |post| %>
    <%= link_to post.title, post_path(post)  %><br>
    <%= post.body %>
    <hr>
  <% end %>
  <% if @page > 0 %>
    <%= link_to "<", root_path(page: @page-1, search: session[:word])  %>
  <% end %>

  <% @pages.each do |p|  %>
    <%= link_to "#{p}", root_path(page: p-1, search: session[:word]) %>
  <% end %>

  <% if @page < @pages.last-1 %>
    <%= link_to ">", root_path(page: @page + 1, search: session[:word])  %>
  <% end %>
<% end %>
