<h1>All Posts</h1>
<!-- <%= form_tag posts_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %> -->

<div class="btn-group">
  <a href="/posts?page=1&category_id=13" type="button" class="btn btn-primary sports">Sports</a>
  <a href="/posts?page=1&category_id=14" type="button" class="btn btn-primary technology">Technology</a>
  <a href="/posts?page=1&category_id=15" type="button" class="btn btn-primary finance">Finance</a>
  <a href="/posts?page=1&category_id=16" type="button" class="btn btn-primary entertainment">Entertainment</a>
  <a href="/posts?page=1&category_id=17" type="button" class="btn btn-primary politic">Politic</a>
  <a href="/posts?page=1&category_id=18" type="button" class="btn btn-primary education">Education</a>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <a class="button <%= post.category.title if post.category %>" href="<%= post_path(post) %>">
        <span class="item"><%= post.title %></span>
        <span class="meta category">Author: <%= post.user.first_name if post.user%></span>
        <i class="clock"></i>
        <span class="meta created"><%= post.created_at.strftime("%Y-%b-%d") %></span>
      </a>
    </div>
  <% end %>
</div>

<%= paginate @posts, :theme => 'twitter-bootstrap-3' %>
