<h1><%= @post.title.titleize %></h1>
<p><%= @post.body %></p>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post),
                      method: :delete,
                      data: {confirm: "Are you sure you want to delete this post?"}%>
<p>Created By<%= @post.user.full_name if @post.user%><p>
<h2>Comment</h2>
<%= form_for [@post,@comment] do |f| %>
  <div>
    <%#= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<h2>All Comments</h2>
<% @post.comments.all.each do |com| %>
  <div>
    <%= com.body %>
  </div>
  <p>Created By <%= com.user.full_name if com.user %><p>
  <hr>
<% end %>
