
<div id="post">
  <h2><%= @post.title.titleize %></h2>
  <p><%= @post.body %></p>
  <p class="author"><i>Created By: <%= @post.user.full_name %></i></p>
</div>

<label>Tags: </label>
<p><%= @post.tags.map {|t| t.name.capitalize}.join(", ") %></p>
<div class="edits">
  <div id="favourite">
    <%= render "favourites/favourite" %>
  </div>
  <% if user_signed_in? && @post == current_user%>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post),
                          method: :delete,
                          data: {confirm: "Are you sure you want to delete this post?"}%>
  <% end %>
    <!-- <a href="#" class="notLoggedIn">Edit</a>
    <a href="#" class="notLoggedIn">Delete</a> -->
</div>
<div class="star-rating">
</div>
<h2>Write A Comment</h2>
<div id="comment">
  <%= render "comments/form" %>
</div>

<h2>All Comments</h2>
<div id="comments">
  <% @post.comments.order("created_at DESC").each do |com| %>
    <%#= render partial: "/posts/star2", :locals => {:star_count => com.rating.star_count} %>
    <%= render "comments/comment", comment: com %>
  <% end %>
</div>
