<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    $(document).ready(function(){
      $(.tech).on('click', function(){
        $("#posts").filter(".Technology");
      });
    });
  </script>
</head>
<body>
  <%= render "/layouts/navbar" %>

  <div class="container">
    <% if flash[:notice] %>
      <div class="notice flash-notice"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="notice alert-notice"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>
  </div>

  <%= render "sessions/form"%>
  <%= render "users/form"%>
  <%= render "layouts/footer" %>
</body>

</html>
